@import url('https://fonts.googleapis.com/css2?family=Monserrat&Display=swap');

/*============= GLOBALES =======*/

body{
    font-family: 'Monserrat', sans-serif;
    overflow-x: hidden;
}

/*============= MENÚ =======*/

#menu li > a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu form > button {
    font-size: 18px;
    font-weight: bold;
}


/*============= SLIDER DE IMAGENES =======*/