@import url('https://fonts.googleapis.com/css2?family=Monserrat&Display=swap');

/*============= GLOBALES =======*/

body{
    font-family: 'Monserrat', sans-serif;
    overflow-x: hidden;
}

/*============= MENÚ =======*/

#menu li > a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu form > button {
    font-size: 18px;
    font-weight: bold;
}

/*============= SLIDER DE IMAGENES =======*/
.carousel-inner {
max-height: 29rem;
}








































/*=================================MEDIA QUIERES PANTALLA 
SM===============================*/

@media(max-widith:768) {
    #intro {
        width: 90% !important;
    }
}

.servicio-fila {
    width: 100% !important;
    text-align:center;
}

/*=================================MEDIA QUIERES PANTALLA 
EXTRA-SM===============================*/

@media(max-width: 576px) {
    .icon-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
}
}